.CenterContent {
    display: flex;
    justify-Content: center;
    align-Items: center;
    height: 100%;
}
.CategoryList{
    margin: 0 auto;
    list-style: none;
}
.CategoryList li{
    display: block;
}
.CategoryList li a{
    font-size: 34px;
}
.page-link {
    color: #252525 !important; 
}
.page-item.active .page-link {
    color: #fff !important;
    background-color: #65C98C;
    border-color: #048145;
}